<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
	        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

<!-- <task:annotation-driven executor="myExecutor" scheduler="myScheduler"/> -->
<!-- <task:executor id="myExecutor" pool-size="5"/> -->
<!-- <task:scheduler id="myScheduler" pool-size="10"/> -->
	<bean id="myExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
		<property name="poolSize" value="5" />
	</bean>
	<bean id="javaScheduler" class="java.util.concurrent.ScheduledThreadPoolExecutor">
		<constructor-arg value="5"/>
	</bean>
	<bean id="myTask" class="com.spring.scheduler.task.MyTask">
	</bean>
	<bean id="myScheduler" class="com.spring.scheduler.task.MyScheduler">
		<property name="myTask" ref="myTask"/>
		<property name="myExecutor" ref="javaScheduler"/>
	</bean>
</beans>